<div class="user-conversation-scroll">
  <% if current_user.all_conversations %>
  <div class=side-bar-container>
    <h4>Conversations</h4>
    <div class=seperater></div>
    <% current_user.all_conversations.each do |user_id| %>
    <% conversation_user = User.find(user_id) %>
    <div class=side-bar-inner id="<%=user_id%>">
      <% if conversation_user.photo? %>
        <%= image_tag conversation_user.photo.url %>
      <% else %>
        <%= image_tag "blank-profile-hi-small.png" %>
      <% end %>
      <%= conversation_user.full_name %>
    </div>
    <% end %>
  <% end %>
  </div>
</div>

<div class="user-message-scroll">
  <div id="message-container">
  </div>
</div>

<%= simple_form_for @message, :html=> { class: 'private-message-form' }, remote: true do |f| %>
  <%= f.association :recipient, label: false, :as => :hidden, input_html: { class: 'recipient-id'} %>
<div class="message-button-container">
  <%= f.input :body, required: true, label: false, placeholder: 'Body', inline_label: "Body", as: :text %>
  <%= f.button :submit, "Send", class: 'message-button' %>
</div>
 <% end %>

 <%= link_to 'New Conversation', new_private_message_path %>