<div class=side-bar-conversations>
  <% current_user.all_conversations.each do |user_id| %>
    <% conversation_user = User.find(user_id) %>
    <%= image_tag conversation_user.photo.url(:thumb) %>
    <%= conversation_user.name_and_username %>
  <% end %>
</div>

<div>
  <% current_user.all_conversations.each do |user_id| %>
    <% conversation_user = User.find(user_id) %>
    <div>
      <% messages = PrivateMessage.where("(recipient_id = ? AND sender_id = ?) OR (recipient_id = ? AND sender_id = ?)", conversation_user.id, current_user.id, current_user.id, conversation_user.id) %>
      <% if !messages.blank? %>
        <% messages.each do |message| %>
        <%= image_tag conversation_user.photo.url %>
        <%= conversation_user.name_and_username %>
        <%= message.body %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<%= link_to 'New message', new_private_message_path, class: 'button' %>