<%= simple_form_for @lesson do |f| %>
  <%= f.input :title %>
  <%= f.input :description, as: :text %>
  <%= f.input :private %>
  <%= f.association :students, label_method: :name_and_username %>

  <div> Upload a Photo </div>

  <%= f.file_field :lesson_photo %>
  <%= f.button :submit %>
<% end %>

<%= link_to "Cancel", profile_lessons_path, class: 'button' %>
