<div class="container">
    <%= simple_form_for @lesson do |f| %>
    <div class="header">
      <h3>Make a lesson</h3>
    </div>
    <div class="sep"></div>
    <div class="inputs">
      <%= f.input :title, label: false,  required: true, placeholder: 'Title', inline_label: "Title" %>
      <%= f.input :description, required: true, label: false, placeholder: 'Description', inline_label: "Description", as: :text %>
      <div class="checkboxy">
        <%= f.input :private, label: false, inline_label: "Private"%>
      </div>
      <div class="mycontainer">
        <%= f.association :students, label: false,  required: false, label_method: :name_and_username, input_html: { class: 'chosen-students'}%>
      </div>
      <%= f.button :submit, "Create Lesson" %>
      <%= link_to "Cancel", profile_lessons_path, class: 'button' %>
    </div>
    <% end %>
</div>
