
<div class="scroll-pane">
  <p>
    <strong>Title:</strong>
    <%= @lesson.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @lesson.description %>
  </p>

  <p>
    <strong>Made by:</strong>
    <%= User.find(@lesson.teacher_id).full_name %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= @lesson.created_at %>
  </p>

  <p>
    <strong>Comments:</strong>
    <% @lesson.comments.each do |comment| %>
    <p> Poster </p>
    <p> <%= User.find(comment.user_id).name_and_username %> </p>
    <p> Message </p>
    <p> <%= comment.body %> </p>
    <p> <% if comment.user_id == current_user.id %> </p>
      <li> <%= link_to 'Edit comment', edit_comment_path(comment) %></li>
        <%- end %>
    <%- end %>
  </p>

  <div>
    Students
    <% @lesson.students.each do |student| %>
    <p><%= student.abv_name %></p>
    <% end %>
  </div>
</div>

<%= form_for [@lesson, @comment] do |f| %>
  <div class="field">
    <%= f.label :body, 'Comment' %><br />
    <%= f.text_field :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<% if @lesson.teacher_id == current_user.id %>
  <% if @lesson.private %>
    <%= link_to 'Make public', update_privacy_lesson_path(@lesson), method: :post, class: 'button' %>
  <% else %>
    <%= link_to 'Make private', update_privacy_lesson_path(@lesson), method: :post, class: 'button' %>
  <% end %>
<% end %>

<% if @lesson.teacher_id == current_user.id || @lesson.students.any? {|student| student.id == current_user.id} %>
  <% else  %>
<%= link_to 'Enroll now!', enroll_lesson_path(@lesson), method: :post, class: 'button' %>
  <% end  %>


<style>

.scroll-pane
{
  width: 100%;
  height: 200px;
  overflow: auto;
}
.jspCap
{
  display: block;
  background: #eeeef4;
}

.jspVerticalBar .jspCap
{
  height: 20px;
}

.jspHorizontalBar .jspCap
{
  width: 50px;
  height: 100%;
}


</style>
<script>
$(function()
{
  $('.scroll-pane').jScrollPane(
    {
    showArrows: true,
    verticalGutter: 30,
    verticalDragMinHeight: 30,
    verticalDragMaxHeight: 30,

    }
  );
});
</script>
