<p>
  <strong>Title:</strong>
  <%= @lesson.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lesson.description %>
</p>

<p>
  <strong>Made by:</strong>
  <%= User.find(@lesson.teacher_id).full_name %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @lesson.created_at %>
</p>

<p>
  <strong>Comments:</strong>
  <% @lesson.comments.each do |comment| %>
  <p> Poster </p>
  <p> <%= User.find(comment.user_id).name_and_username %> </p>
  <p> Message </p>
  <p> <%= comment.body %> </p>
  <%- end %>
</p>

<div>
  Students
  <% @lesson.students.each do |student| %>
  <p><%= student.abv_name %></p>
  <% end %>
</div>

<%= form_for [@lesson, @comment] do |f| %>
  <div class="field">
    <%= f.label :body, 'Comment' %><br />
    <%= f.text_field :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<% if @lesson.teacher_id == current_user.id %>
  <%= link_to 'Make private', make_private_lesson_path(@lesson), method: :post, class: 'button' %>
<% end %>
<%= link_to 'Enroll now!', enroll_lesson_path(@lesson), method: :post, class: 'button' %>
<%= link_to 'Back', :back, class: 'button' %>